/* Base body styles to remove default margins and overflows */
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;   
    overflow-x: hidden; 
}

body {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
}

/* Map container will take up all available vertical space */
#map-container {
    flex-grow: 1; /* Makes the map container fill the remaining space */
}

/* The gmp-map web component needs this to fill its container */
gmp-map {
    width: 100%;
    height: 100%;
}

/* Optional: Add some padding to the footer text */
.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#left-panel {
    position: absolute;
    top: 65px;
    left: 5px;
    width: 20%;
    max-height: 87%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 8px;
}

/* * Styles for the new collapsible right panel 
 */
#right-panel {
    position: absolute;
    top: 65px;
    right: 5px;
    width: 35%;
    height: 87%;
    /* max-height: calc(100vh - 150px); */
    background-color: rgba(255, 255, 255, 0.466);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 15px;
    border-radius: 8px 0 0 8px;
    transition: transform 0.5s ease-in-out;
}

/* Class to move the panel off-screen */
#right-panel.closed {
    transform: translateX(100%);
}

/* Styles for the panel's header and content */
#right-panel .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#right-panel .panel-content {
    overflow-y: none;
}

.vAygCK-api-load-alpha-banner{
    visibility: hidden;
}

.list-group .list-group-item:hover {
  background-color: #e2f0ff;
  color: #0d6efd;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.list-group .list-group-item.active {
  background-color: #0d6efd;
  color: #fff;
}
